.regIcon{
    font-size: 6rem;
    margin-top: 10rem;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}
.regBtn{
    display: block;
    margin-left: 13.5rem !important;
    margin-right: auto !important;
}